<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook</title>
    <link rel="stylesheet" href="{% static 'css/css1.css' %}">
    

    
</head>
<body>
    <h1>FACEBOOK LOGIN /SIGN UP PAGE</h1>
    <div class="saanu">
    <div>
    <form action="login.html">
        <div class="hor" >
Username:<input type="text" placeholder="Enter user name" ></div> <br><br>
<div class="shru">Password:<input type="password" placeholder="Enter password" ></div><br><br>
<a href="{% url 'fbprofile' %}"><button type="button">LOGIN</button></a>

</form>
</div>
</div>
</body>
</html>